<<<<<<< HEAD
.img-logo{
    margin-top: 5%;
    margin-left: 0%; 
    width: 180px;
     position:fixed;
}
nav{
    font-size:16px!important;
}
.nav-link{
    color:white!important;
}
.pointer{
    cursor: pointer;
=======
nav{
    height: 49px;
    background-color: #343a40!important;
>>>>>>> ae7452875b938b12ad14e3b095132113951b49ba
}