
      

    <carousel>
        <slide>
          <img src="assets/img/1.jpg" alt="First slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </slide>
        <slide>
          <img src="assets/img/2.jpg" alt="Second slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </slide>
        <slide>
          <img src="assets/img/3.jpg" alt="Third slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </slide>
      </carousel>
  
  

 
